<div *ngIf="requesting" class="cssload-loader"></div>
<div *ngIf="requesting" class="loading-screen fix"></div>
<div class="modal-header">
  <h4 class="modal-title">Remove User</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template [ngIf]="user">

  <span> <b>Name:</b> {{user.name}} {{user.surname}}</span>
  <br/>
  <span> <b>Email:</b> {{user.email}}</span>
  </ng-template>
</div>
<div class="modal-footer flex-column align-items-stretch">

  <div *ngIf="errorMessage.message || errorMessage.status" class="alert alert-danger mt-2 mb-4 alert-danger">
    <button type="button" class="close" aria-label="Close" (click)="resetErrorMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <h4>Unable to delete user</h4>
      <p *ngIf="errorMessage.status">Status: {{errorMessage.status}}</p>
      <p>{{errorMessage.message}}<p>
    </div>
  </div>

  <div class="button-bar d-flex justify-content-between">

    <button type="button" class="btn btn-secondary btn-warning " (click)="removeUser()">Remove from {{environmentValue}}</button>
    <button type="button" class="btn btn-secondary btn-danger flex-grow" (click)="removeUserWithAccess()">Remove user</button>
    <button type="button" class="btn btn-secondary flex-grow" (click)="closeModal()">Cancel</button>
  </div>
</div>

